@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4.2vw;
    }

    nav ul li a {

      font-size: 2.3vw;
    }
   }

   @media only screen and (max-width: 767px) {

    #form-container {
      position: relative;
      padding-top: 30px;
      margin-top: 90%;
      border: 5px solid orange;
      background-color: white;
      width:  40vh;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: black;
      text-align: center;
      z-index: 1;
      border-radius: 50px;
      opacity: 0.9;
      
    }
   
    .Text {
      width: 80vw;
      font-size: 2.5vw;
    }

    .text {
      width: 80vw;
      font-size: 2.5vw;
    }

    .png-game-text {
      width: 30vw;
      left: -2vh;
      bottom: -2vh;
    }
    .png-html {
      width: 30vw;
      right: 15vh;
      bottom: 72%;
    }

    code {
      font-size: 5.7vw;
    }

    #form-container {
      width: 70vw;
      font-size: 4.2vw;
      margin-top: 80vw;
    }
    form > .png-game-text {
      left: 0;
      bottom: -5vh;
      width: 35vw;
    }
    form > input {
      height: 2.5vh;
      font-size: 5.2vw;

    }

   }

   @media only screen and (min-width: 768px) and (max-width: 1024px) {


    .Text {
      width: 70vw;
      font-size: 2vw;
    }

    .text {
      width: 70vw;
      font-size: 2vw;
    }

    .png-game-text {
      width: 25vw;
      left: -2vh;
      bottom: -5vh;
    }
    .png-html {
      width: 30vw;
      right: -10vh;
      bottom: 72%;
    }

    code {
      font-size: 2.7vw;
    }
    #form-container {
      margin-top: 60vw;
      width: 60vw;
      font-size: 3.2vw;
    }
    form > .png-game-text {
      left: -10vw;
      bottom: -5vh;
      width: 25vw;
    }
    form > input {
      height: 2.5vh;
      font-size: 3.2vw;

    }
}