header, h1 ,h2 , h4 {
  font-family: "Orbitron", serif;
}

#gif-container {
position: relative;
height: 8vh;
aspect-ratio: 1 / 1;
padding-left: 1vh;
margin-top: auto;
margin-bottom: auto; 
}

header{
  border: 2px solid orange;
  color: orange;
  align-items: center;
  position: sticky;
  background-color: black;
  
  
}

header > .item1 {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  
}

h1 {
font-size: 2.2vw;
margin-top: auto;
margin-bottom: auto;
padding-left: 20px;
}

nav {
  margin-top: auto;
  margin-bottom: auto; 
}

nav ul {
list-style: none;
display: flex;
justify-content:end;
}

nav ul li {
 
  padding-right: 2vw;

}

nav ul li a {
  text-decoration: none;
  color: lightgreen;
  font-size: 1.3vw;
}
nav ul li a:hover {
  color: orange;
}
.dropdown-content {
  position: absolute;
  display: none;
}
.dropdown-content a {
  font-size: 1vw;
  color: orange;
  text-decoration: none;
  display: block;
  padding-top: 2.9vh;
}
.dropdown-content a:hover {
  color: orangered; 
}
.dropdown:hover .dropdown-content {
    display: block;
}

.gif {
  position: absolute;
  height: 8vh;
  aspect-ratio: 1 / 1;
  animation: moove 10s infinite;
}

.gif:nth-child(1) {
  animation-delay: 0s; 
}

.gif:nth-child(2) {
  animation-delay: 2s; 
}

.gif:nth-child(3) {
  animation-delay: 4s; 
}

.gif:nth-child(4) {
  animation-delay: 6s; 
}

.gif:nth-child(5) {
  animation-delay: 8s; 
}

@keyframes moove {
  0%, 20% {
      opacity: 1;
  }
  21%, 100% {
      opacity: 0;
  }
}