header, h1 ,h2 , h4 {

  font-family: "Orbitron", serif;
}

#gif-container {
  padding-left: 10px;
  margin: 0;
  width: 60px;
  height: 60px;
  position: relative;
}

.gif {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: moove 10s infinite;
}

.gif:nth-child(1) {
  animation-delay: 0s; 
}

.gif:nth-child(2) {
  animation-delay: 2s; 
}

.gif:nth-child(3) {
  animation-delay: 4s; 
}

.gif:nth-child(4) {
  animation-delay: 6s; 
}

.gif:nth-child(5) {
  animation-delay: 8s; 
}

@keyframes moove {
  0%, 20% {
      opacity: 1;
  }
  21%, 100% {
      opacity: 0;
  }
}

header {
  color: orange;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  gap: 50px;
  position: sticky;
  border: 2px solid orange;
  background-color: black;
  height: 80px;
  width: 100vw;
}

h1 {
  margin: 0;
  font-size: 30px;
}
nav {
  display: flex;
  justify-content: space-between; 
  padding-right: 20px;
  width: 100%;

}
nav ul {
  list-style: none;
  padding-right: 40px;
  margin: 0;
  width: 100%;
  display: flex;
  gap: 25px;
}

nav ul li {
  margin: 0;

}

nav ul li a {
  text-decoration: none;
  color: lightgreen;
  font-size: 18px;
}
nav ul li a:hover {
  color: orange;
}