#form-container {
  position: relative;
  border: 5px solid orange;
  background-color: white;
  color: black;
  text-align: center;
  z-index: 1;
  border-radius: 50px;
  opacity: 0.9;
  width: 20vw;
  font-size: 1.2vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1vw;
  margin-top: 25vw;
}
#go{
  
  transition: transform 0.3s ease-in-out;
  width: 150px;
  height: 150px;
}
#go:hover {
  transform: scale(1.5); 
}
#form-container button {
  background-color: white;
  border: none;
  cursor: pointer;

}
#form-container input {
  border: 5px solid lightgreen;
  border-radius: 10px;
  width: 60%;
}
#form-container input:valid {
 color: orange;
}
#form-container input:invalid {
  color: black; 
}

form > .png-game-text {
  left: -17vh;
  bottom: -7vh;

}